<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    # Restrict access to /admin
    #  RewriteCond %{REQUEST_URI} ^/admin
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.55\.
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.56\.
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.65\.100
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.51\.4
    #  RewriteCond %{REMOTE_ADDR} !^10\.81\.234\.18
    #  RewriteCond %{REMOTE_ADDR} !^202\.183\.231\.100
    #  RewriteCond %{REMOTE_ADDR} !^192\.168\.36\.3
    #  RewriteCond %{REMOTE_ADDR} !^192\.168\.36\.1
    #  RewriteRule ^ - [F]

    #  RewriteCond %{REQUEST_URI} ^/loginadmin
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.55\.
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.56\.
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.65\.100
    #  RewriteCond %{REMOTE_ADDR} !^10\.242\.51\.4
    #  RewriteCond %{REMOTE_ADDR} !^10\.81\.234\.18
    #  RewriteCond %{REMOTE_ADDR} !^202\.183\.231\.100
    #  RewriteCond %{REMOTE_ADDR} !^192\.168\.36\.3
    #  RewriteCond %{REMOTE_ADDR} !^192\.168\.36\.1
    #  RewriteRule ^ - [F]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    
</IfModule>
