<div id="menu" class="hidden-print ui-resizable">

	<!-- Scrollable menu wrapper with Maximum height -->
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 810px;">
		<div class="slim-scroll" data-scroll-height="800px"
			style="overflow: hidden; width: auto; height: 810px;">
			<!-- Regular Size Menu -->

			<ul id="yw2">
				<li class="glyphicons home active"><a
						href="aboutus.html"><i></i><span>หน้าหลัก</span></a></li>
				<li class="hasSubmenu glyphicons posterous_spaces"><a data-toggle="collapse"
						href="#About"><i></i><span>เกี่ยวกับเรา</span></a>
					<ul class=" collapse " id="About">
						<li><a href="aboutus.php">จัดการเกี่ยวกับเรา</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons cogwheel"><a data-toggle="collapse"
						href="#Conditions"><i></i><span>เงื่อนไขการใช้งาน</span></a>
					<ul class=" collapse " id="Conditions">
						<li><a href="condition/create.php">แก้ไขเงื่อนไขการใช้งาน</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons cogwheel"><a data-toggle="collapse"
						href="#Setting"><i></i><span>ตั้งค่าระบบพื้นฐาน</span></a>
					<ul class=" collapse " id="Setting">
						<li><a href="/admin/index.php/Setting/create">ตั้งค่าระบบพื้นฐาน</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons adress_book"><a data-toggle="collapse"
						href="#ContactusNew"><i></i><span>ติดต่อเรา</span></a>
					<ul class=" collapse " id="ContactusNew">
						<li><a href="/admin/index.php/ContactusNew/admin">จัดการติดต่อเรา</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons facetime_video"><a data-toggle="collapse" href="#vdo"><span
							class="label label-primary"></span> <i></i><span>ระบบวีดีโอ</span></a>
					<ul class=" collapse " id="vdo">
						<li><a href="/admin/index.php/vdo/create">เพิ่มวีดีโอ (ภาษา EN )</a></li>
						<li><a href="/admin/index.php/vdo/index">จัดการวีดีโอ</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons folder_open"><a data-toggle="collapse"
						href="#Document"><i></i><span>ระบบเอกสาร</span></a>
					<ul class=" collapse " id="Document">
						<li><a href="/admin/index.php/Document/createtype">เพิ่มประเภทเอกสาร (ภาษา EN )</a>
						</li>
						<li><a href="/admin/index.php/Document/Index_type">จัดการประเภทเอกสาร</a></li>
						<li><a href="/admin/index.php/Document/create">เพิ่มเอกสาร (ภาษา EN )</a></li>
						<li><a href="/admin/index.php/Document/index">จัดการเอกสาร</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons folder_new"><a data-toggle="collapse"
						href="#News"><i></i><span>ระบบจัดการเนื้อหาเว็บไซต์ (ข่าวสาร)</span></a>
					<ul class=" collapse " id="News">
						<li><a href="/admin/index.php/News/create">เพิ่มข่าวสารและกิจกรรม (ภาษา EN )</a>
						</li>
						<li><a href="/admin/index.php/News/index">จัดการข่าวสารและกิจกรรม</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons folder_open"><a data-toggle="collapse"
						href="#Category"><span class="label label-primary">1</span>
						<i></i><span>ระบบหมวดหลักสูตร</span></a>
					<ul class=" collapse " id="Category">
						<li><a href="/admin/index.php/Category/create">เพิ่มหมวดหลักสูตร (ภาษา EN )</a></li>
						<li><a href="/admin/index.php/Category/index">จัดการหมวดหลักสูตร</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons imac"><a data-toggle="collapse" href="#CourseOnline"><span
							class="label label-primary">2</span> <i></i><span>ระบบจัดการหลักสูตร</span></a>
					<ul class=" collapse " id="CourseOnline">
						<li><a href="/admin/index.php/CourseOnline/create">เพิ่ม (ภาษา EN )</a></li>
						<li><a href="/admin/index.php/CourseOnline/index">จัดการ</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons imac"><a data-toggle="collapse" href="#Lesson"><span
							class="label label-primary">3</span>
						<i></i><span>ระบบจัดการเนื้อหาบทเรียน</span></a>
					<ul class=" collapse " id="Lesson">
						<li><a href="/admin/index.php/Lesson/create">เพิ่มบทเรียน (ภาษา EN )</a></li>
						<li><a href="/admin/index.php/Lesson/index">จัดการบทเรียน</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons posterous_spaces"><a data-toggle="collapse"
						href="#Grouptesting"><span class="label label-primary">4</span>
						<i></i><span>ระบบข้อสอบ</span></a>
					<ul class=" collapse " id="Grouptesting">
						<li><a href="/admin/index.php/Grouptesting/create">เพิ่มชุดข้อสอบ</a></li>
						<li><a href="/admin/index.php/Grouptesting/index">จัดการชุดข้อสอบ</a></li>
						<li><a href="/admin/index.php/Coursegrouptesting/create">เพิ่มชุดข้อสอบหลักสูตร</a>
						</li>
						<li><a href="/admin/index.php/Coursegrouptesting/index">จัดการชุดข้อสอบหลักสูตร</a>
						</li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons notes"><a data-toggle="collapse" href="#Questionnaireout">
						<span class="label label-primary">5</span>
						<i></i><span>แบบประเมินผลการฝึกอบรม</span></a>
					<ul class=" collapse " id="Questionnaireout">
						<li><a href="/admin/index.php/Questionnaireout/create">เพิ่มแบบสอบถาม</a></li>
						<li><a href="/admin/index.php/Questionnaireout/index">จัดการแบบสอบถาม</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons eye_open"><a data-toggle="collapse" href="#OrgChart"><span
							class="label label-primary">6</span><i></i><span>ระบบจัดการระดับชั้นการเรียน
							(Organization)</span></a>
					<ul class=" collapse " id="OrgChart">
						<li><a href="/admin/index.php/OrgChart/index">จัดการกลุ่มหลักสูตร</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons print"><a data-toggle="collapse"
						href="#CheckLecture"><i></i><span>ระบบตรวจข้อสอบบรรยาย</span></a>
					<ul class=" collapse " id="CheckLecture">
						<li><a href="/admin/index.php/CheckLecture/index">ตรวจข้อสอบบรรยายบทเรียน</a></li>
						<li><a href="/admin/index.php/CheckLecture/coureCheck">ตรวจข้อสอบบรรยายหลักสูตร</a>
						</li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons print"><a data-toggle="collapse"
						href="#Certificate"><i></i><span>ระบบใบประกาศนียบัตร</span></a>
					<ul class=" collapse " id="Certificate">
						<li><a href="/admin/index.php/Certificate/index">จัดการประกาศนียบัตร</a></li>
						<li><a href="/admin/index.php/Signature/index">จัดการลายเซนต์</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons print"><a data-toggle="collapse"
						href="#Captcha"><i></i><span>ระบบ Captcha</span></a>
					<ul class=" collapse " id="Captcha">
						<li><a href="/admin/index.php/Captcha/index">ตั้งค่าแคปช่า</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons refresh"><a
						href="/admin/index.php/LearnReset/ResetUser"><i></i><span>ระบบรีเซ็ตผลการเรียนการสอบ</span></a>
				</li>
				<li class="hasSubmenu glyphicons wallet"><a data-toggle="collapse"
						href="#Usability"><i></i><span>ระบบวิธีการใช้งาน</span></a>
					<ul class=" collapse " id="Usability">
						<li><a href="/admin/index.php/Usability/create">เพิ่มวิธีการใช้งาน (ภาษา EN )</a>
						</li>
						<li><a href="/admin/index.php/Usability/index">จัดการวิธีการใช้งาน</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons adress_book"><a data-toggle="collapse"
						href="#ReportProblem"><i></i><span>ระบบปัญหาการใช้งาน</span></a>
					<ul class=" collapse " id="ReportProblem">
						<li><a href="/admin/index.php/ReportProblem/index">จัดการปัญหาการใช้งาน</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons no-js circle_question_mark"><a data-toggle="collapse"
						href="#Faq"><i></i><span>ระบบคำถามที่พบบ่อย</span></a>
					<ul class=" collapse " id="Faq">
						<li><a href="/admin/index.php/faqType/index">หมวดคำถาม (ภาษา EN )</a></li>
						<li><a href="/admin/index.php/Faq/index">คำถามที่พบบ่อย</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons magic"><a data-toggle="collapse"
						href="#Rights"><i></i><span>ระบบการกำหนดสิทธิการใช้งาน</span></a>
					<ul class=" collapse " id="Rights">
						<li><a href="/admin/index.php/adminUser/index">ข้อมูลผู้ดูแลระบบ</a></li>
						<li><a href="/admin/index.php/pGroup/index">กลุ่มผู้ใช้งาน</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons user_add"><a data-toggle="collapse"
						href="#admin"><i></i><span>ระบบจัดการสมาชิก (สมาชิก)</span></a>
					<ul class=" collapse " id="admin">
						<li><a href="/admin/index.php/user/admin/create">เพิ่มสมาชิก</a></li>
						<li><a href="/admin/index.php/user/admin/excel">เพิ่มสมาชิกจาก Excel</a></li>
						<li><a href="/admin/index.php/user/admin/index">รายชื่อสมาชิก</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons book"><a data-toggle="collapse"
						href="#CourseField"><i></i><span>จัดการฟอร์ม สมัครสมาชิก</span></a>
					<ul class=" collapse " id="CourseField">
						<li><a href="/admin/index.php/CourseField/create">เพิ่ม Field</a></li>
						<li><a href="/admin/index.php/CourseField/index">จัดการ Field</a></li>
						<li><a href="/admin/index.php/CourseField/Manageform">จัดการ รูปแบบฟอร์ม</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons bullhorn"><a data-toggle="collapse" href="#imgslide"><span
							class="label label-primary"></span>
						<i></i><span>ระบบป้ายประชาสัมพันธ์</span></a>
					<ul class=" collapse " id="imgslide">
						<li><a href="/admin/index.php/imgslide/create">เพิ่มป้ายประชาสัมพันธ์ (ภาษา EN )</a>
						</li>
						<li><a href="/admin/index.php/imgslide/index">จัดการป้ายประชาสัมพันธ์</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons posterous_spaces"><a data-toggle="collapse"
						href="#LibraryType"><span class="label label-primary"></span>
						<i></i><span>ระบบห้องสมุดอิเล็กทรอนิกส์</span></a>
					<ul class=" collapse " id="LibraryType">
						<li><a href="/admin/index.php/LibraryType/index">จัดการประเภทห้องสมุด</a></li>
						<li><a href="/admin/index.php/LibraryFile/index">จัดการห้องสมุด</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons cogwheel"><a data-toggle="collapse"
						href="#courseNotification"><i></i><span>ระบบตั้งค่าการแจ้งเตือนบทเรียน</span></a>
					<ul class=" collapse " id="courseNotification">
						<li><a
								href="/admin/index.php/courseNotification/create">สร้างระบบแจ้งเตือนบทเรียน</a>
						</li>
						<li><a
								href="/admin/index.php/courseNotification/index">จัดการระบบแจ้งเตือนบทเรียน</a>
						</li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons print"><a data-toggle="collapse"
						href="#Passcours"><i></i><span>ระบบพิมพ์ใบประกาศนียบัตร</span></a>
					<ul class=" collapse " id="Passcours">
						<li><a
								href="/admin/index.php/Passcours/request_cert">รายงานผู้ขอรับใบประกาศนียบัตร</a>
						</li>
						<li><a href="/admin/index.php/Passcours/index">รายงานผู้ผ่านการเรียน</a></li>
						<li><a
								href="/admin/index.php/Passcours/PasscoursLog">รายงานสถิติจำนวนผู้พิมพ์ใบประกาศฯ</a>
						</li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons print"><a data-toggle="collapse"
						href="#Report"><i></i><span>ระบบ Report</span></a>
					<ul class=" collapse " id="Report">
						<li><a href="/admin/index.php/Report/logAllRegister">1.)
								รายงานภาพรวมการสมัครสมาชิก</a></li>
						<li><a href="/admin/index.php/user/admin/Status">2.) รายงานผลการสมัครสมาชิก
								(ผู้เรียน)</a></li>
						<li><a href="/admin/index.php/Report/AttendPrint">3.) รายงานภาพรวมของหลักสูตร</a>
						</li>
						<li><a href="/admin/index.php/Report/ByCourseDetail">4.)
								รายงานการฝึกอบรมหลักสูตร</a></li>
						<li><a href="/admin/index.php/Report/ByUser">5..) รายงานติดตามผู้เรียน</a></li>
						<li><a href="/admin/index.php/Report/logQuestioncourse">6.)
								รายงานแบบสอบถามสำหรับหลักสูตร</a></li>
						<li><a href="/admin/index.php/Report/logQuestionall">7.) รายงานภาพรวมแบบสอบถาม</a>
						</li>
						<li><a href="/admin/index.php/Report/logReset">8.) รายงานการรีเซตหลักสูตร</a></li>
						<li><a href="/admin/index.php/Report/orders">9.) รายงานคำสั่งซื้อ</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons folder_new"><a
						href="/admin/index.php/LogEmail/email"><i></i><span>ระบบการส่งผลการเรียนผ่านทางระบบอัตโนมัติ</span></a>
				</li>
				<li class="hasSubmenu glyphicons print"><a data-toggle="collapse"
						href="#LogAdmin"><i></i><span>ระบบเก็บ Log การใช้งานระบบ</span></a>
					<ul class=" collapse " id="LogAdmin">
						<li><a href="/admin/index.php/logAdmin/users">Log การใช้งานผู้เรียน</a></li>
						<li><a href="/admin/index.php/logAdmin/index">Log การใช้งานผู้ดูแลระบบ</a></li>
						<li><a href="/admin/index.php/logAdmin/approve">Log การยืนยันสมัครสมาชิก</a></li>
						<li><a href="/admin/index.php/logAdmin/approvePersonal">Log
								การยืนยันสมัครสมาชิกบุคคลทั่วไป</a></li>
						<li><a href="/admin/index.php/logAdmin/register">Log การตรวจสอบการสมัครสมาชิก</a>
						</li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons film"><a data-toggle="collapse"
						href="#student_photo"><i></i><span>ระบบการยืนยันการเข้าเรียนของผู้เรียน</span></a>
					<ul class=" collapse " id="student_photo">
						<li><a href="/admin/index.php/student_photo/index">จัดการการถ่ายภาพนักเรียน</a></li>
						<li><a href="/admin/index.php/capture/index">จัดการภาพถ่ายนักเรียน</a></li>
					</ul>
				</li>
				<li class="hasSubmenu glyphicons film"><a
						href="/admin/index.php/CaptureMember/index"><i></i><span>จัดการการถ่ายภาพนักเรียน</span></a>
				</li>
			</ul>
			<div class="clearfix"></div>

		</div>
		<div class="slimScrollBar ui-draggable"
			style="background: rgb(0, 0, 0); width: 15px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 15px; z-index: 99; right: 1px; height: 499.315px;">
		</div>
		<div class="slimScrollRail"
			style="width: 15px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 15px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
		</div>
	</div>
	<!-- // Scrollable Menu wrapper with Maximum Height END -->

	<div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000;"></div>
	<div class="ui-resizable-handle ui-resizable-w" style="z-index: 1000;"></div>
</div>