.navbar.navbar-size-xlarge .navbar-nav > li > a {
    font-size: 1.9rem;
}

.navbar.navbar-size-large .navbar-nav > li > a {
    font-size: 1.9rem;
}

.btn {
    font-size: 19px;
}

.jumbotron h1, .text-display-1 {
    font-size: 3.8rem;
}

.text-headline {
    font-size: 30px;
}

/* heading */
h1 {
    font-size: 45px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #000;
    background: rgb(174, 219, 255);
}
.list-group .list-group-item.active > a {
    color: #181818;
}
h2 {
    font-size: 40px;
    margin-top: 2px;
    margin-bottom: 5px;
}

h3 {
    font-size: 35px;
    margin-top: 2px;
    margin-bottom: 5px;
}

h4 {
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 5px;
}

h5 {
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 5px;
}

h6 {
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
}

/* ************* */
.lead {
    font-size: 21.5px;
}

.footer-section {
    font-size: 1.4rem;
}

body {
    font-size: 1.5rem;
}

.panel-title {
    font-size: 22px;
}

/* Menu */
.navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu > li > a:focus {
    padding: 4px 14px;
}

.dropdown-menu {
    font-size: 20px;
}

.page-section {
    padding: 25px 0;
}

.login-page {
     margin-top: 8rem;
} 

.parallax {
    margin-top: 81px;
  }
  

.errorSummary {
    color: red;
}

.form-control {
    height: 45px;
}
/* Custom color font */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00529C;
    background-color: #FFF;
}
a {
    color: #045BAB;
}
.text-light {
    color: #0F0F0F;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #202020;
}
a:hover, a:focus {
    color: #00437F;
    text-decoration: none;
}
.footer {
    color: #2D2D2D;
}
.pagination > li > a, .pagination > li > span {
    color: #272727;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #00437F;
}
.navbar-nav .dropdown-menu > li a:hover, .navbar-nav .dropdown-menu > li.active > a {
    background: rgb(245, 247, 247) none repeat scroll 0 0;
    color: #0367BF;
}
/* Custom color font */

/* footer */
.footer-section {
    padding: 3px 0;
    border-top: 2px solid #0367BF;
}
.footer-section .h1, .footer-section .h2, .footer-section .h3, .footer-section .h4, .footer-section .h5, .footer-section .h6, .footer-section h1, .footer-section h2, .footer-section h3, .footer-section h4, .footer-section h5, .footer-section h6, .footer-section label {
    color: #FFF;
}
.bottom-footer body {
    padding-bottom: 0;
}
/* footer */

/* web borad */
.btn-white .open > .dropdown-toggle.btn-white, .btn-white.active, .btn-white:active, .btn-white:focus, .btn-white:hover {
    background: #A7D8FF none repeat scroll 0 0;
    border-color: rgb(239, 239, 239);
}
/* web borad */

/* Chat */
.box-list-chat .header-list-chat {
    background-color: #00529D !important;
    border: 1px solid #00529D !important;
}
/* Chat */

/* Form */
.form-control {
    border: 1px solid #61B8FF !important;
    box-shadow: 0 0 1px rgb(150, 208, 255) !important;
}
/* Form */

/* Menu */
.navbar-nav .dropdown-menu > li > a i {
    color: #00529D;
}
/* Menu */